<main>
  <section class="image-container">
    <img class="hero-image" src="../assets/undraw_order_confirmed_re_g0if.svg">
  </section>
  <section class="shipping-details">
    <h2>
      Your order is on it's way!
      <img class="shipping-icon" src="../assets/noun-shipping-4326216-63D1FF.png">
    </h2>
    <p>
      Thank you for shopping with us and your order
      has been processed.
    </p>
    <table>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>Big box item</td>
        <td>1</td>
        <td>$129</td>
      </tr>
      <tr>
        <td></td>
        <td class="total-amount-label">Total Amount</td>
        <td class="total-amount">$129</td>
      </tr>
    </table>
  </section>
</main>